.about {
    display: flex;

    flex-direction: row;

    height: 100%;
    width: 100%;

    img {
        width: 40%;
        height: 100%;
        object-fit: cover;
    }
}

.about-text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(60% - 10rem);
    height: 100%;

    margin-left: 5rem;
    margin-right: 5rem;
    
    p {
        color: white;
        align-self: flex-start;
        text-align: justify;
    }

    .last-updated{
        color:lightgray;
        font-style: italic;
    }
}