.calendar {
    width: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text {
        color: white;
    }

    div {
        color: white;
    }

    p {
        color: lightgrey;
    }

    h1 {
        color: white
    }
}

ErrorBoundary {
    width: 100%;
}

GithubCalendar {
    width: 100%;
}