/* code modified from https://www.w3schools.com/Css/tryit.asp?filename=trycss_navbar_horizontal_black_fixed */

body {
    margin: 0;
}


#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
}

li {
    float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: lightblue;
}

.active {
  background-color: black;
  color: white;
}